{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <h1>Posts ✅</h1>
    <ul class="list-group">
    {% for post in posts %}
        <li class="list-group-item">
            <a href="{{ path('post_edit', {'id': post.id}) }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}