<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>
    </head>
    <body>
        {% include '_nav.html.twig' %}
        <div class="container py-5">
            {% include '_alert.html.twig' %}
            <div class="example-wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
